#main {
    width:960px;
    margin: auto;
    flex: 1 0 auto;
    margin-bottom:60px;
    background-color:white;  

}
h1 {
    text-align:center;
}
body {
background-image:url("oriental.png");
background-repeat: repeat;
}